<h1 class="title">About the Team</h1>
<hr class="hr-white" />

<div class="container">

<div class="bios-pics">
  <div class="bios-desc">
    <div class="card card-bio">
      <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/megan_doyle.png"/>

    </div>

    <div class="card card-desc ">
      <div class="card-block">
        <h4 clas="card-title">
          Megan Doyle
        </h4>
       <h6 class="card-subtitle mb-2 text-muted">Documentation</h6>
        My name is Megan Doyle, I'm the writer and co-founder of Spark Robotics. This is my second year participating in FTC; last year I wrote for FTC i²robotics. Outside of robotics, I am the web manager of Inklings, the school newspaper, and I do ballet.    </div>
  </div>
</div>




<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/nathanael_metke.png"/>

  </div>

  <div class="card card-desc ">
    <div class="card-block">
      <h4 clas="card-title">
        Nathanael Metke
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Programmer</h6>
     I am Nathanael Metke, and I am a programmer and one of the founders of this team. I am currently a senior at Staples High School I have been a part of FIRST for 4 years, on the FTC team  i²robotics, and the FLL team SNAP. In my free time, I enjoy volunteering at the local makerspace, building web applications, and road biking.  </div>
</div>
</div>


<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/molly_loughney.png"/>

  </div>

  <div class="card card-desc ">
    <div class="card-block">
      <h4 clas="card-title">
        Molly Loughney
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Builder</h6>
My name is Molly Loughney, I'm a builder and co-founder of Spark Robotics. This is my fourth year of FIRST and second year of FTC. I was a previously member of the American School in London FRC team and i2r robotics FTC team. I hope to one day become an electrical or mechanical engineer and continue working with robots. Outside of robotics I participate in theatre.  </div>
</div>
</div>


<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/neal_soni.png"/>

  </div>

  <div class="card card-desc">
    <div class="card-block">
      <h4 clas="card-title">
        Neal Soni
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Designer and Builder</h6>
I'm Neal Soni and I'm currently a senior at Staples High School in Westport, Connecticut. I am a designer and builder. Prior, I was a co-founder of W-Prime Robotics and member for two years and a member of i2robotics. This is my fourth year competing in FTC, and my sixth season in FIRST Robotics. I'm also a member of my town’s Taekwondo national demo team and placed first at the 2017 Taekwondo National Championship in Detroit, Michigan.  </div>
</div>
</div>

<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/ben_staw.png"/>

  </div>

  <div class="card card-desc">
    <div class="card-block">
      <h4 clas="card-title">
        Ben Staw
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Programmer</h6>
     I'm Ben Staw and I am a senior at Wooster School in Danbury, Connecticut. In years past I participated in FIRST by assistant coaching my school's FLL team. When I'm not doing robotics, I enjoy watching movies, going bowling, and playing board games</div>
</div>
</div>




<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/victoria_cao.png"/>

  </div>

  <div class="card card-desc">
    <div class="card-block">
      <h4 clas="card-title">
        Victoria Cao
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Builder</h6>
I'm Victoria Cao and I'm a junior at Staples High School. I have been participating in FTC for two years. Outside of robotics, I volunteer at my church! I also participate in our Debate Team and TAG, which addresses substance abuse inside our school. I love swimming and I do it when time allows it.  </div>
</div>
</div>

<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/kylie_doyle.png"/>

  </div>

  <div class="card card-desc">
    <div class="card-block">
      <h4 clas="card-title">
        Kylie Doyle
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Padawan</h6>
I am Kylie Doyle and this is my first year of on a FIRST team. I am currently a freshman at Staples High School in Westport CT. On the team,  I am programmer and a builder. In my free time I enjoy being on a diving and gymnastics team.  </div>
</div>
</div>




<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/evan_katz.png"/>

  </div>

  <div class="card card-desc">
    <div class="card-block">
      <h4 clas="card-title">
        Evan Katz
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Padawan</h6>
     My name is Evan Katz, I am a programmer and a builder for the team and one of the newest members. I am currently a freshman at Staples High School. I have yet to be apart of a robotics team so you could call this my FIRST. In addition, I play tennis at T.C.T. where I look to make the Staples team in the spring.
  </div>
</div>
</div>



</div>


</div>
