<h1 class="title">About the Team</h1>
<hr class="hr-white" />


<div class="bios-pics">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="http://www.i2robotics.org/img/bios/megan_doyle.jpg"/>
    <div class="card-block">
      <h4 clas="card-title">
        Megan Doyle
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Documentation</h6>
  </div>
</div>

<div class="card card-bio">
  <img class="card-img-top img-responsives bio-pic" src="./nathanael_metke.png"/>
  <div class="card-block">
    <h4 clas="card-title">
      Nathanael Metke
    </h4>
     <h6 class="card-subtitle mb-2 text-muted">Capitan</h6>
  </div>
</div>

<div class="card card-bio">
  <img class="card-img-top img-responsives bio-pic" src="http://www.i2robotics.org/img/bios/molly_loughney.jpg"/>
  <div class="card-block">
    <h4 clas="card-title">
      Molly Loughney
    </h4>
     <h6 class="card-subtitle mb-2 text-muted">Builder</h6>
  </div>
</div>
<%# http://www.i2robotics.org/img/bios/luke_sauer.jpg #%>

<div class="card card-bio">
  <img class="card-img-top img-responsives bio-pic" src="http://www.i2robotics.org/img/bios/theo_davis.jpg"/>
  <div class="card-block">
    <h4 clas="card-title">
      Theo Davis
    </h4>
     <h6 class="card-subtitle mb-2 text-muted">Programmer</h6>
  </div>
</div>
<div class="card card-bio">
  <img class="card-img-top img-responsives bio-pic" src="http://www.i2robotics.org/img/bios/luke_sauer.jpg"/>
  <div class="card-block">
    <h4 clas="card-title">
      Luke Sauer
    </h4>
     <h6 class="card-subtitle mb-2 text-muted">Builder, CAD Designer</h6>
  </div>
</div>

<div class="card card-bio">
  <img class="card-img-top img-responsives bio-pic" src="./neal_soni.png"/>
  <div class="card-block">
    <h4 clas="card-title">
      Neal Soni
    </h4>
     <h6 class="card-subtitle mb-2 text-muted">Builder, CAD Designer</h6>
  </div>
</div>
</div>

<div class="bio-desc">
  Hi
</div>
