<h1 class="title">About the Team</h1>
<hr class="hr-white" />


<div class="bios-pics">
  <div class="bios-desc">
    <div class="card card-bio">
      <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/megan_doyle.png"/>

    </div>

    <div class="card card-desc">
      <div class="card-block">
        <h4 clas="card-title">
          Megan Doyle
        </h4>
       <h6 class="card-subtitle mb-2 text-muted">Documentation</h6>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur lacus a eleifend tempor. Nullam porta magna a metus pellentesque aliquet. Phasellus in pellentesque arcu. Morbi non leo at mi imperdiet fermentum. Nulla facilisi. Pellentesque euismod volutpat eleifend. Donec non lorem et mauris molestie ornare et non felis. Nullam sollicitudin lorem nec ultricies sodales. Suspendisse posuere sem sed facilisis volutpat. In laoreet at dui vitae dapibus.
    </div>
  </div>
</div>



<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/nathanael_metke.png"/>

  </div>

  <div class="card card-desc">
    <div class="card-block">
      <h4 clas="card-title">
        Nathanael Metke
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Programmer</h6>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur lacus a eleifend tempor. Nullam porta magna a metus pellentesque aliquet. Phasellus in pellentesque arcu. Morbi non leo at mi imperdiet fermentum. Nulla facilisi. Pellentesque euismod volutpat eleifend. Donec non lorem et mauris molestie ornare et non felis. Nullam sollicitudin lorem nec ultricies sodales. Suspendisse posuere sem sed facilisis volutpat. In laoreet at dui vitae dapibus.
  </div>
</div>
</div>


<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/molly_loughney.png"/>

  </div>

  <div class="card card-desc">
    <div class="card-block">
      <h4 clas="card-title">
        Molly Loughney
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Builder</h6>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur lacus a eleifend tempor. Nullam porta magna a metus pellentesque aliquet. Phasellus in pellentesque arcu. Morbi non leo at mi imperdiet fermentum. Nulla facilisi. Pellentesque euismod volutpat eleifend. Donec non lorem et mauris molestie ornare et non felis. Nullam sollicitudin lorem nec ultricies sodales. Suspendisse posuere sem sed facilisis volutpat. In laoreet at dui vitae dapibus.
  </div>
</div>
</div>



<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="http://www.i2robotics.org/img/bios/theo_davis.jpg"/>

  </div>

  <div class="card card-desc">
    <div class="card-block">
      <h4 clas="card-title">
        Theo Davis
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Programmer</h6>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur lacus a eleifend tempor. Nullam porta magna a metus pellentesque aliquet. Phasellus in pellentesque arcu. Morbi non leo at mi imperdiet fermentum. Nulla facilisi. Pellentesque euismod volutpat eleifend. Donec non lorem et mauris molestie ornare et non felis. Nullam sollicitudin lorem nec ultricies sodales. Suspendisse posuere sem sed facilisis volutpat. In laoreet at dui vitae dapibus.
  </div>
</div>
</div>


<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/neal_soni.png"/>

  </div>

  <div class="card card-desc">
    <div class="card-block">
      <h4 clas="card-title">
        Neal Soni
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur lacus a eleifend tempor. Nullam porta magna a metus pellentesque aliquet. Phasellus in pellentesque arcu. Morbi non leo at mi imperdiet fermentum. Nulla facilisi. Pellentesque euismod volutpat eleifend. Donec non lorem et mauris molestie ornare et non felis. Nullam sollicitudin lorem nec ultricies sodales. Suspendisse posuere sem sed facilisis volutpat. In laoreet at dui vitae dapibus.
  </div>
</div>
</div>



<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/victoria_cao.png"/>

  </div>

  <div class="card card-desc">
    <div class="card-block">
      <h4 clas="card-title">
        Victoria Cao
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur lacus a eleifend tempor. Nullam porta magna a metus pellentesque aliquet. Phasellus in pellentesque arcu. Morbi non leo at mi imperdiet fermentum. Nulla facilisi. Pellentesque euismod volutpat eleifend. Donec non lorem et mauris molestie ornare et non felis. Nullam sollicitudin lorem nec ultricies sodales. Suspendisse posuere sem sed facilisis volutpat. In laoreet at dui vitae dapibus.
  </div>
</div>
</div>

<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/kylie_doyle.png"/>

  </div>

  <div class="card card-desc">
    <div class="card-block">
      <h4 clas="card-title">
        Kylie Doyle
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Padawan</h6>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur lacus a eleifend tempor. Nullam porta magna a metus pellentesque aliquet. Phasellus in pellentesque arcu. Morbi non leo at mi imperdiet fermentum. Nulla facilisi. Pellentesque euismod volutpat eleifend. Donec non lorem et mauris molestie ornare et non felis. Nullam sollicitudin lorem nec ultricies sodales. Suspendisse posuere sem sed facilisis volutpat. In laoreet at dui vitae dapibus.
  </div>
</div>
</div>

<div class="bios-desc">
  <div class="card card-bio">
    <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/ben_staw.png"/>

  </div>

  <div class="card card-desc">
    <div class="card-block">
      <h4 clas="card-title">
        Ben Staw
      </h4>
     <h6 class="card-subtitle mb-2 text-muted">Programmer</h6>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur lacus a eleifend tempor. Nullam porta magna a metus pellentesque aliquet. Phasellus in pellentesque arcu. Morbi non leo at mi imperdiet fermentum. Nulla facilisi. Pellentesque euismod volutpat eleifend. Donec non lorem et mauris molestie ornare et non felis. Nullam sollicitudin lorem nec ultricies sodales. Suspendisse posuere sem sed facilisis volutpat. In laoreet at dui vitae dapibus.
  </div>
</div>
</div>
