
<section name="contact">
  <div class="container center">
  <h1 class="title">Contact Us</h1>
  <hr class="hr-white" />
  <form id="contact" action="/contact/send" method="post">
    <div class="row">
      <div class="col">
        <input class="form-control contact-input" name="name" placeholder="Name" />
      </div>
      <div class="col">
        <input class="form-control contact-input" name="email" type="email" placeholder="Email" />
      </div>

      <div class="col">
        <input class="form-control center contact-input" name="team_number" placeholder="Team Number/Organization" />
      </div>
      </div>
      <textarea name="body" rows=10 placeholder="Message" class="form-control contact-input"></textarea>

      <div style="text-align: right">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>

  </form>

  </div>
</section>
