<div class="container">
  <h1 class="title">Contact Us</h1>
  <hr class="hr-white" />
  <% if (alert) {%>
    <div class="alert alert-success contact-input" style="width: 100%" role="alert">
      <strong>Sweet!</strong> Message sent!
    </div>
  <%}else if (alert == "error"){ %>
    <div class="alert alert-danger contact-input" style="width: 100%" role="alert">
      <strong>Aw Darn!</strong>  Message not sent due to an error :(
    </div>
  <%}%>
  <form id="contact" action="/contact/send" method="post">
    <div class="row">
      <div class="col">
        <input class="form-control contact-input" name="name" placeholder="Name" />
      </div>
      <div class="col">
        <input class="form-control contact-input" name="email" type="email" placeholder="Email" />
      </div>

      <div class="col">
        <input class="form-control center contact-input" name="team_number" placeholder="Team Number" />
      </div>
      </div>
      <textarea name="body" rows=10 placeholder="Message" class="form-control contact-input"></textarea>

      <div style="text-align: right">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
