

<%# <div class="video-container">
  <video class="back-video" autoplay mute loop><source src="./fire.mp4" type="video/mp4" /></video>
  <div class="top-section">
    <img class="logo" src="./logo.png"/><br />
    <a href="#content"><i class="fa fa-chevron-circle-down title-chev" aria-hidden="true"></i></a>
  </div>
</div>%>

<header>
	<div class="background-image"></div>
	<div class="background-mask">
	</div>
	<div class="title">
		<div class="container">
			<img src="/img/logo_white_text@2x.png" class="img img-responsive logo"/>

		</div>
	</div>

</header>

<div class="two">


<div class="container" id="content">

  <h1 class="title"></h1>
  <div class="subtitle">
    A new kind of FTC team
  </div>
  <div class="title-caption">
    Who are we?
  </div>
  <hr class="hr-white" />

	<div class="about-card-flex">


		<div class="card card-about card-about-yellow">

  		<div class="card-block card-block-about">
    		Spark Robtics are a student run and funded FTC team based in Westport CT. Our goal as a team is to "Spark" cuiosity and inspiration about STEM and FIRST in our local community, along with our global community.
  		</div>
			<img class="img img-fluid" src="/img/team.jpg" />
		</div>

		<div class="card card-about card-about-half card-about-orange">
			<img class="img img-fluid" src="http://www.i2robotics.org/orion/assets/robot_2.png" />
  		<div class="card-block card-block-about">
				Our Robot
			</div>
		</div>

		<div class="card card-about card-about-half card-about-orange">
			<img class="img img-fluid" src="http://www.i2robotics.org/orion/assets/robot_2.png" />
  		<div class="card-block card-block-about">
				Our Outreach
			</div>
		</div>

	</div>


	<div class="team-photo">

	</div>



  <%# <div class="bios-quick-pics">

    <div class="card card-quick-bio">
      <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/megan_doyle.png"/>
      <div class="card-block">
        <h4 clas="card-title">
          Megan Doyle
        </h4>
         <h6 class="card-subtitle mb-2 text-muted">Documentation</h6>
      </div>
    </div>

    <div class="card card-quick-bio">
      <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/nathanael_metke.png"/>
      <div class="card-block">
        <h4 clas="card-title">
          Nathanael Metke
        </h4>
         <h6 class="card-subtitle mb-2 text-muted">Programmer and Builder</h6>
      </div>
    </div>

    <div class="card card-quick-bio">
      <img class="card-img-top img-responsives bio-pic" src="/img/team_photos/molly_loughney.png"/>
      <div class="card-block">
        <h4 clas="card-title">
          Molly Loughney
        </h4>
         <h6 class="card-subtitle mb-2 text-muted">Builder</h6>
      </div>
    </div>
 http://www.i2robotics.org/img/bios/luke_sauer.jpg #

    <div class="card card-quick-bio">
      <img class="card-img-top img-responsives bio-pic" src="http://www.i2robotics.org/img/bios/theo_davis.jpg"/>
      <div class="card-block">
        <h4 clas="card-title">
          Theo Davis
        </h4>
         <h6 class="card-subtitle mb-2 text-muted">Programmer</h6>
      </div>
    </div>


    <div class="card card-quick-bio">
      <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/neal_soni.png"/>
      <div class="card-block">
        <h4 clas="card-title">
          Neal Soni
        </h4>
         <h6 class="card-subtitle mb-2 text-muted">Builder, CAD Designer</h6>
      </div>
    </div>

		<div class="card card-quick-bio">
      <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/victoria_cao.png"/>
      <div class="card-block">
        <h4 clas="card-title">
          Victoria Cao
        </h4>
         <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
      </div>
    </div>
		<div class="card card-quick-bio">
      <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/kylie_doyle.png"/>
      <div class="card-block">
        <h4 clas="card-title">
          Kylie Doyle
        </h4>
         <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
      </div>
    </div>
    <div class="card card-quick-bio">
      <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/ben_staw.png"/>
      <div class="card-block">
        <h4 clas="card-title">
          Ben Staw
        </h4>
         <h6 class="card-subtitle mb-2 text-muted">Programmer</h6>
      </div>
    </div>

		<div class="card card-quick-bio">
      <img class="card-img-top img-responsives bio-pic" src="./img/team_photos/evan_katz.png"/>
      <div class="card-block">
        <h4 clas="card-title">
          Evan Katz
        </h4>
         <h6 class="card-subtitle mb-2 text-muted">Programmer</h6>
      </div>
    </div>

  </div>%>

</div>
