
<%# <form class="form" action="/user/create" method="post">
  <input name="name"placeholder="Name"/>
  <input name="email" placeholder="Email"/>
  <input name="password" type="password" placeholder="Password"/>
  <button type=submit>Submit</button>
</form>%>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
    <h2 class="title-caption">Login</h2>
    <% if (alert) {%>
      <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> <%=alert%>
      </div>
    <%}%>
    <form class="form" action="/user/login" method="post">
      <input class="form-control login-form" name="email" placeholder="Email"/>
      <input class="form-control login-form" name="password" type="password" placeholder="Password"/>
      <button class="btn btn-success login-form pull-right" type=submit>Submit</button>

    </form>
    <a class="btn btn-danger login-form pull-right" href="/">Cancel</a>
    </div>
    <div class="col"></div>
  </div>

</div>
