<%# <h2>Sign Up</h2>
<form class="form" action="/user/create" method="post">
  <input name="name"placeholder="Name"/>
  <input name="email" placeholder="Email"/>
  <input name="password" type="password" placeholder="Password"/>
  <button type=submit>Submit</button>
</form>%>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
    <h2>Login</h2>
    <form class="form" action="/user/login" method="post">
      <input class="form-control" name="email" placeholder="Email"/>
      <input class="form-control" name="password" type="password" placeholder="Password"/>
      <button class="btn btn-success" type=submit>Submit</button>

    </form>
    <a class="btn btn-danger" href="/">Cancel</a>
    </div>
    <div class="col"></div>
  </div>

</div>
