<div class="container">
  <form method="post" action="/user/create">
    <input type="text" name="first_name" class="form-control" placeholder="First Name"/>
    <input type="text" name="last_name" class="form-control" placeholder = "Last Name"/>
    <input type="email" name="email" class="form-control" placeholder="Email"/>
    <input type="password" name="password" class="form-control" placeholder="Password"/>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
