<div class="container">
  <form method="post" action="/user/create">
    <input type="text" name="name" class="form-control" />
    <input type="email" name="email" class="form-control" />
    <input type="password" name="password" class="form-control" />
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
