<h1 class="title">Our Sponsors</h1>
<hr class="hr-white"/>
<div class="sponsor-list">

  <!-- Sponsors like this -->
<div class="card card-sponsor">
  <img class="card-img-top img-responsives bio-pic" src="/img/sponsors/solidworks-Logo-Red.svg"/>
</div>


</div>
