html, body{
  height:100%;
  background-color: rgb(30,30,30);
  margin: 0;
  color:white;
}


body, header {
    width: 100%;
    height: 97.5%;
}

iframe{
  width: 100%;
  height: 300px;
}

header {
    display: flex;
    position: relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;


}


.two{
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.front-register {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, .5);
    border-radius: 3px;
    margin: 5px;
}


.front-register::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: black;
}

.front-register:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black;
    opacity: 1;
}

.front-register::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black;
    opacity: 1;
}

.front-register:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

.background-image {
    background-image: url("/img/background.jpg");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





.background-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .7);
}

.title {
    font-size: 72px;
    color: white;
    z-index: 1;
    text-align: center;
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.title-content {
    z-index: 1;
    text-align: center;
    width: 50%;
}
.top-section{
  background: rgb(0,0,0);
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}
.back-video{
  height:1000%;
}




.nav{
  background-color:rgb(30, 30, 30);
  border-bottom: solid rgb(255, 179, 15)
}
.nav-text{
  text-decoration: none;
  color:white;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
.nav-link:hover{
  text-decoration: none;
  color:black;
  background-color: white;
}
.nav-link:focus{
  text-decoration: none;
  color:black;
  background-color: white;
}
.navbar-brand:hover{
  color:lightgrey;
}
.logo{

  width: 50%;

}
.video-container{
  position: relative;
}
video{
  vertical-align: middle;
  width: 100%;
  height: 80%;
}
.title{
  text-align: center;
  font-size: 72px;
  color: white;
}
.subtitle{
  text-align: center;
  font-size: 52px;
  color: white;
  padding: 60px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.title-caption{
  text-align: center;
  font-size: 32px;
  color: white;
  padding-bottom:  30px;
}
.fade-dark-light{
  display: block;
  height: 300px;
  width: 100%;
  background: linear-gradient( 0deg, rgb(30,30,30), black );
  }

.footer{
    height: 5%;
    width: 100%;
    background-color: rgb(25,25,25);
    margin:0;
    padding-bottom: 0;
  }
  .login-form{
      margin-bottom: 10px;
      margin-top: 10px;
      width: 100%;
  }
  .spacer{
    display: block;
    width:100%;
    height: 30%;
  }

.full{
  height: 100%;
}
.half{
  height:50%
}
.quarter{
  height:25%;
}
.title-chev{
  color: white;
  font-size: 50px;
  text-decoration: none;
}
.link-hide{
  text-decoration: none;
  color: white;
}

.link-hide:hover{
  color:orange;
}
.hr-white{
  border-color:white;
  width: 30%;
}
.bio-pic{
  width: 100%;
}

.card-block{
  color: white;
}
.card{
  width: 20%;
  background-color: #303030;
  box-shadow: 5px 5px 10px #000000;
  margin: 20px;
  padding: 20px;
}

.card-bio{
  width: 200px;
  background-color: #303030;
  box-shadow: 5px 5px 10px #000000;
  margin: 20px;
  padding: 0;
}

.card-quick-bio{
  width: 75%;
}

.mobile{
  visibility: hidden;
}

.about-card-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-about{
  width:90%;
  text-align: center;
  padding: 0;
  padding-bottom: 10px;



}

.card-about-half{
  width: 44%;
  margin: 10px;
}

.card-about-orange{
  /*background-color: rgb(255, 179, 15);*/
  border-color:rgb(255, 179, 15);
}

.card-about-red{
  background-color: rgb(216, 23, 23);
}

.card-about-yellow{
  /*background-color: rgb(237, 233, 0);*/
  border-color: rgb(237, 233, 0);
}





.card-block-about{
  font-size: 26px;
}

.popup{

  width:100%;
  height:40px;
  background-color:orange;
  padding: 10px;
  bottom: 0;
  left: 0;
  position:fixed;
  box-shadow: 0px 25px 10px -15px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}

.popup-link.link-hide:hover{
  color:white;
}

@media only screen and (max-width: 775px) {
  .card-block-about{
    font-size: 15px;
    padding: 10px;
  }
    .top-section{
      height: 200%;
    }
    .mobile{
      visibility: visible;
    }
    .title{
      text-align: center;
      font-size: 55px;
      color: white;
    }

    .desktop{
      visibility: hidden;
    }

    .bios-pics{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }

    .card-bio{
      width:100%;
    }

    .card-about-half{
      width: 90%;
    }

    .bios-desc{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
    }

    .card-bio{
      margin-bottom: 0;
    }

    .card-desc{
      margin-top: 0;
      border-top: none;
    }


}
@media only screen and (max-width: 420px){
  .popup{
    height: 80px;
    padding: 20px;
  }
}
.bios-quick-pics{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.bios-pics{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal{
  color: black; 
}

.bios-desc{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}
.card-desc{
  width: 100%;
  height: 100%;
}

.card-sponsor{
  width: 400px;;
  background-color: #303030;
  box-shadow: 5px 5px 10px #000000;
  margin-top: 30px;
}

.sponsor-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.center{
  text-align: center;
}

.contact-input{
  margin: 10px;
}
.messages-tbl{
width: 100%;
border-width: 1px;
border-color: white;
border-style: solid;
}

.messages-tbl thead tr td{
  padding: 10px;
  font-weight: bold;
}

.messages-tbl tr {
  border-width: 1px;
  border-color: white;
  border-style: solid;
}



.close{
  position:absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor:pointer;
  z-index:500;
  color:white;
}

.close:hover{
  color: white;
}


.header-med{
  font-size: 56px;
  color: white;
  z-index: 1;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
}
